html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}

.container {
  height: 100%;
}

.project-item {
    border: 1px solid grey;
    margin: 3px;
    padding: 5px;
    border-radius: 3px;
}

.add-task-btn {
    margin-top: 30px;
}

.draggable {
  z-index: 100;
  margin-bottom: 20px;
}

.test {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.test .row, .test .droppable-container {
  height: 100%;
}

.droppable-container:first-child {
  border-left: 1px solid lightgrey;
}

.droppable-container {
  border-right: 1px solid lightgrey;
  margin-bottom: 20px;
}

.droppable {
  height: 100%;
}

/* - could be used to highlight selected item - .ui-state-highlight */
.ui-state-hover {
  border: 2px dashed #fb13d6;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
