.project-item {
    border: 1px solid grey;
    margin: 3px;
    padding: 5px;
    border-radius: 3px;
}

.add-task-btn {
    margin-top: 30px;
}

.draggable {
  margin: 4px;
  height: 180px;
  width: 207px;
  z-index: 100;
  margin-bottom: 20px;
}

.droppable {
  height: 193px;
  border-radius: 4px;
  background: white;
  border: 2px dashed #a0d3f7;
  cursor: move;
}

/* - could be used to highlight selected item - .ui-state-highlight */
.ui-state-hover {
  border: 2px dashed #fb13d6;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
